<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= site.title %> | <%= pages[1].title %></title>
  <meta name="description" content="<%= pages[1].description %>">
  <link rel="stylesheet" href="assets/style.min.css">
</head>

<body>
  <%- include('../layouts/_header') %>
</body>

</html>